@font-face {
  font-family: 'Exo 2';
  src: url('/fonts/Exo2-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'ubuntu';
  src: url('/fonts/UbuntuSans-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: 'mesloLGS NF';
  src: url('/fonts/MesloLGS NF-Regular.ttf');
}

html {
  font-family: "ubuntu", "segoe ui", sans-serif;
}

body {
  font-family: "ubuntu", "segoe ui", sans-serif;
}

.main-menu {
  font-family: "Exo 2", "segoe ui", sans-serif;
  font-weight: 800;
}

.author .font-semibold, h1, h2, h3, h4, h5, h6 {
  font-family: "Exo 2", "segoe ui", sans-serif;
  font-weight: 600;
}

.prose {
  font-family: 'ubuntu', "segoe ui", sans-serif;
  line-height: 1.7;
}

code, pre {
  font-family: 'mesloLGS NF', monospace;
}
