:root {
    /* Primary (Purple) */
    --color-primary-50: 246, 242, 255;
    --color-primary-100: 239, 231, 255;
    --color-primary-200: 225, 209, 255;
    --color-primary-300: 203, 173, 255;
    --color-primary-400: 180, 126, 255;
    --color-primary-500: 159, 74, 255;
    --color-primary-600: 150, 37, 255;
    --color-primary-700: 136, 19, 238;
    --color-primary-800: 111, 15, 194;
    --color-primary-900: 95, 15, 163;
    --color-primary-950: 58, 6, 111;

    /* Secondary (Orange) */
    --color-secondary-50: 255, 242, 235;
    --color-secondary-100: 254, 230, 215;
    --color-secondary-200: 254, 205, 175;
    --color-secondary-300: 253, 180, 134;
    --color-secondary-400: 253, 155, 94;
    --color-secondary-500: 252, 130, 54;
    --color-secondary-600: 241, 95, 4;
    --color-secondary-700: 181, 71, 3;
    --color-secondary-800: 121, 47, 2;
    --color-secondary-900: 60, 24, 1;
    --color-secondary-950: 30, 12, 0;

    /* Neutral (Base / Background / Text) */
    --color-neutral: 231, 239, 249;
    --color-neutral-50: 248, 250, 252;
    --color-neutral-100: 241, 245, 249;
    --color-neutral-200: 231, 239, 249;
    --color-neutral-300: 203, 213, 225;
    --color-neutral-400: 148, 163, 184;
    --color-neutral-500: 100, 116, 139;
    --color-neutral-600: 71, 85, 105;
    --color-neutral-700: 51, 65, 85;
    --color-neutral-800: 9, 15, 22;
    --color-neutral-900: 15, 23, 42;
    --color-neutral-950: 2, 6, 23;
  }
